* {
    font-family: 'Roboto';
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.2rem 1rem;
    display: flex;
    border-bottom: solid 1px #707070;
}

.menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.menu__hamburger {
    position: relative;
    width: 25px;
    height: 15px;
}

.menu__hamburger-line {
    position: absolute;
    height: 4px;
    background-color: #707070;
}

.menu__hamburger-line:first-child {
    width: 100%;
    top: 0;
    right: 0;
}

.menu__hamburger-line:last-child {
    width: 60%;
    bottom: 0;
    right: 0;
}

.menu__nav {
    display: none;
}

.menu__nav-item {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style-type: none;
}

/* Hero Content */

.block {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 

adjust overlap


*/
.block--hero {
    padding: 5rem 1rem;
    min-height: 100vh;
}

.block__image {
    margin: 0 auto 2.5rem;
    width: 80%;
    max-width: 280px;
    min-width: 240px;
}

.block__image img {
    width: 100%;
    display: block;
}

.content--hero {
    margin-bottom: 2.5rem;
}

.content--with-bottom {
    margin-bottom: 2rem;
}

.content__heading {
    font-family: 'Bebas Neue';
    color: #3f3f3f;
    font-size: 2.5rem;
    text-align: center;
    line-height: 5rem;
}

.content--hero .content__heading {
    font-size: 4.5rem;
    line-height: 4.5rem;
}

.content__sub-heading {
    font-family: 'Bebas Neue';
    color: #707070;
    font-size: 1.6rem;
    text-align: center;
    line-height: 2.5rem;
}

.content--hero .content__sub-heading {
    font-size: 2.2rem;
    line-height: 2.2rem;
}

.content__content {
    text-align: center;
    color: #707070;
    font-size: 1.1rem;
    font-weight: 500;
}

button {
    background-color: #3f3f3f;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 1.4rem;
    padding: .6rem 1.2rem;
    border: 0;
    letter-spacing: .05rem;
}

button.button--primary {
    background: transparent;
    position: relative;
}

.block--hero .button--primary {
    margin: 2.2rem auto 0;
    display: block;
}

button.button--primary:after, button.button--primary:before {
    content: "";
    position: absolute;
    background-color: #E38202;
    width: 100%;
    height: 100%;
    z-index: -1;
}

button.button--primary:after {
    top: .2rem;
    left: .2rem;
}

button.button--primary:before {
    top: -.2rem;
    left: -.2rem;
}

.content__content--gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.content__content--gallery img {
    display: block;
    max-width: 180px;
    min-width: 150px;
    width: 45%;
    margin: .2rem .4rem;
}

/* Footer */

footer {
    background-color: #3f3f3f;
    color: white;
    padding: 1.8rem 1.4rem 0;
    margin-top: 2rem;
}

footer .menu {
    display: block;
}

footer .menu__nav {
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

footer .menu__nav-item {
    font-family: 'Bebas Neue';
    font-size: 1.2rem;
    letter-spacing: .05rem;
}

.contact {
    padding: 1rem 0;
}

.contact__heading {
    font-family: 'Bebas Neue';
    font-size: 1.2rem;
    letter-spacing: .05rem;
    margin-bottom: .2rem;
}

.contact__contacts {
    display: flex;
    flex-flow: row wrap;
}

.contact__socials {
    padding: .5rem 0;
    display: flex;
}

.contact__socials i {
    color: white;
    font-size: 1.2rem;
    margin-right: .6rem;
}

.contact__email-contact {
    margin-right: 1.2rem;
}

.contact__email-contact:before, .contact__location-contact:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    margin-right: .4rem;
}

.contact__email-contact:before {
    content: "\f0e0";
}

.contact__location-contact:before {
    content: "\f3c5";
}

.copyright {
    font-family: 'Bebas Neue';
    font-size: 1.2rem;
    letter-spacing: .04rem;
    opacity: .6;
    padding: .6rem 0 .6rem;
}

@media (min-width: 768px) {
    main {
        max-width: 1200px;
        padding: 0 2.4rem;
        margin: auto;
    }

    .block--2-column {
        justify-content: space-between;
        flex-direction: row;
    }

    .block {
        margin-bottom: 1.6rem;
    }

    .block.block--hero {
        flex-direction: row-reverse;
    }

    .block__image {
        margin: 0;
        width: 30%;
        max-width: none;
    }

    .block--hero .block__image {
        width: 50%;
    }

    .block--hero .block__image img {
        width: 80%;
        margin: auto;
    }

    .content--hero {
        margin-bottom: 0;
    }

    .content--hero .content__heading {
        font-size: 7.2rem;
        line-height: 6.8rem;
        letter-spacing: .06rem;
    }

    .content--hero .content__sub-heading {
        font-size: 3.7rem;
        line-height: 4.4rem;
    }

    .content:not(.content--hero) {
        width: 100%;
    }

    .block--2-column .content:not(.content--hero) {
        width: 60%;
    }

    .block--2-column .content__heading, 
    .block--2-column .content__sub-heading,
    .block--2-column .content__content {
        text-align: left;
    }

    .content__heading {
        font-size: 3.8rem;
        letter-spacing: .04rem;
    }
    
    .content__content {
        font-size: 1.25rem;
    }

    .block--hero .button--primary {
        margin: 1.8rem 0 0 .5rem;
    }

    .block button {
        font-size: 1.6rem;
    }

    .content__content--gallery {
        padding: 1rem 0;
    }
    
    .content__content--gallery img {
        max-width: none;
        width: 20%;
    }

    footer {
        padding: 1.8rem max(2.4rem, calc(50% - 600px)) 0;
    }

    .footer__items {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding-bottom: 2rem;
    }

    footer .menu {
        flex-grow: 0;
    }

    .footer__logo {
        width: 30%;
        min-width: 300px;
    }

    header {
        padding-left: max(2.4rem, calc(50% - 600px + 2.4rem));
        padding-right: max(2.4rem, calc(50% - 600px + 2.4rem));
    }

    .menu__nav {
        display: block;
    }

    .menu__hamburger {
        display: none;
    }

    .menu__nav-item {
        margin: 0 .5rem;
    }
}