.header {
    padding:17px 20px;
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-end;
    position:absolute;
    left:0;
    top:0;
    right:0;
}

.menu-hamburger_wrapper {
    width:28px;
    height:22px;
    display:flex;
    flex-flow:column wrap;
    justify-content: space-between;
    position:relative;
    z-index:6;
    cursor: pointer;
}

.menu-hamburger_before, .menu-hamburger_middle, .menu-hamburger_after {
    width:100%;
    height:4px;
    background-color: black;
    border-radius:3px;
    transition: all 0.5s;
}

.menu-hamburger_middle {
    transform-origin: 0 0;
    transition: all 0.2s;
}

.pressed.menu-hamburger_wrapper .menu-hamburger_middle {
    transform:scaleX(0);
}

.pressed.menu-hamburger_wrapper .menu-hamburger_before {
    transform:rotate(45deg) translate(6px, 3px);
}

.pressed.menu-hamburger_wrapper .menu-hamburger_after {
    transform:rotate(-45deg) translate(9px, -7px);
}

.navigation-menu {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:100vw;
    background-color:white;
    transition: all 0.7s;
    overflow: hidden;
    z-index:5;
}

.navigation-menu.active {
    right:0;
}

.navigation-menu ul {
    display:inline-block;
    list-style-type: none;
    position:absolute;
    left:50vw;
    top:50vh;
    transform:translate(-50%, -60%);
    text-align:center;
}

.navigation-menu li {
    display:inline-block;
    padding:5px 0px;
    font-size:2em;
}

.navigation-menu a {
    padding:0px 5px;
    font-weight:400;
}

@media (min-width:600px) {

    .header {
        padding:50px 100px;
    }
}