.hero-content {
    position:absolute;
    top:45%;
    transform:translateY(-50%);
}

.hero-content--main {
    margin-bottom:calc(15px + 2.5vw);
    margin-top:0px;
}

.hero-content--sub {
    margin-bottom:calc(12px + 2.5vw);
    margin-top:0px;
}

.hero-slide {
    height:100vh;
    position:relative;
}

.slide-icon {
    width:38px;
    height:50px;
    position:absolute;
    bottom:10%;
    left:50%;
    transform:translate(-50%, 50%);
    display:block;
}

.slide-icon::after, .slide-icon::before {
    content:"";
    display:block;
    position:absolute;
    width:50%;
    height:4px;
    background-color:black;
}

.slide-icon::after {
    right:50%;
    top:50%;
    transform-origin: 100% 100%;
    transform:rotate(45deg);
}

.slide-icon::before {
    left:50%;
    top:50%;
    transform-origin: 0 100%;
    transform:rotate(-45deg);
}

@media (min-width:600px) {

    .header {
        padding:50px 100px;
    }

    .hero-content--main {
        margin-bottom:calc(18px + 0.5vw);
    }
    
    .hero-content--sub {
        margin-bottom:calc(18px + 0.5vw);
    }
}