<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}} | Sudo Shreyansh</title>
    <link rel="stylesheet" type="text/css" href="./../style/newstyle.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <a href="" class="logo">
                Shreyansh Jain
            </a>
            <div class="navigation-wrapper">
                <div class="hamburger">
                    <div class="hamburger--first-line"></div>
                    <div class="hamburger--second-line"></div>
                    <div class="hamburger--third-line"></div>
                </div>
                <nav class="navigation-menu-wrapper">
                    <ul class="navigation-menu">
                        <li class="navigation-menu-item"><a href="" class="navigation-menu-item-link">Home</a></li>
                        <li class="navigation-menu-item"><a href="" class="navigation-menu-item-link">Work</a></li>
                        <li class="navigation-menu-item"><a href="" class="navigation-menu-item-link">Skills</a></li>
                        <li class="navigation-menu-item"><a href="" class="navigation-menu-item-link">About</a></li>
                        <li class="navigation-menu-item"><a href="" class="navigation-menu-item-link">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="hero-wrapper">
            <div class="hero-content">
                <h1 class="hero-title">
                    I turn ideas into professional websites
                </h1>
                <p class="hero-support-content">
                    I am a full-stack web developer who can help you turn your idea into a reality, be it a professional website or a complex server-side application, I can do it all.
                </p>
                <div class="hero-buttons">
                    <button>Know more</button>
                    <span>My work</span>
                </div>
            </div>
            <div class="portfolio-phone-wrapper">
                <div class="portfolio-phone">
                    <img src="./../images/clt-page.png" class="portfolio-image">
                </div>
                <div class="portfolio-phone">
                    <img src="./../images/clt-page.png" class="portfolio-image">
                </div>
            </div>
        </div>
    </div>
    <div class="triangle-divider"></div>
    <div class="wrapper skills">
        <div class="skills-wrapper">
            <h1 class="skills-title">
                Skills
            </h1>
            <div class="skills-content-wrapper">
                <div class="skills-content">
                    <strong class="skills-content--title">
                        Front-End Web Design &amp; Development
                    </strong>
                    <p class="skills-content--content">
                        I love to create websites and web apps from scratch which deliver a beautiful and amazing experience to the users in all devices.
                    </p>
                    <p class="skills-content--techs">
                        HTML, CSS, JS, Adobe XD
                    </p>
                </div>
                <div class="skills-content">
                    <strong class="skills-content--title">
                        Back-End Development
                    </strong>
                    <p class="skills-content--content">
                        I like it when servers are capable of carrying out user-dependent tasks efficiently without comprising with the speed of the service.
                    </p>
                    <p class="skills-content--techs">
                        Node Js, PHP, Wordpress, SQL
                    </p>
                </div>
                <div class="skills-content">
                    <strong class="skills-content--title">
                        Programming &amp; Automation
                    </strong>
                    <p class="skills-content--content">
                        Instead of carrying out a specific task multiple times, I like to create scripts that do everything  for my clients on the click of a button.
                    </p>
                    <p class="skills-content--techs">
                        C++, Google Apps Script
                    </p>
                </div>
            </div>
            <div class="more-button">
                Learn More
            </div>
        </div>
    </div>
    <div class="triangle-divider_inverted">

    </div>
    <div class="wrapper">
        <div class="projects-wrapper">
            <h1 class="projects-title">
                Projects
            </h1>
            <div class="projects-content-wrapper">
                <div class="projects-content--card">
                </div>
                <div class="projects-content--card">
                </div>
                <div class="projects-content--card">
                </div>
            </div>
            <div class="more-button">
                View More
            </div>
        </div>
    </div>
    <script src="./../script/script.js"></script>
</body>
</html>