<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}} | Sudo Shreyansh</title>
    <link rel="stylesheet" type="text/css" href="./../style/newstyle.css">
    <!-- <link rel="stylesheet" type="text/css" href="./../style/style.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="./../style/header.css"> -->
    <!--<link rel="stylesheet" type="text/css" href="./../style/global.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <a href="" class="logo">
                Shreyansh Jain
            </a>
            <div class="navigation-wrapper">
                <div class="hamburger">
                    <div class="hamburger--first-line"></div>
                    <div class="hamburger--second-line"></div>
                    <div class="hamburger--third-line"></div>
                </div>
                <nav>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Work</a></li>
                        <li><a href="">Skills</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="hero-wrapper">
            <div class="hero-content">
                <h1 class="hero-title">
                    I turn ideas into professional websites
                </h1>
                <p class="hero-support-content">
                    I am a full-stack web developer who can help you turn your idea into a reality, be it a professional website or a complex server-side application, I can do it all.
                </p>
                <div class="hero-buttons">
                    <button>Know more</button>
                    <span>My work</span>
                </div>
            </div>
            <div class="portfolio-phone">
                <img src="./../images/clt-page.png" class="portfolio-image">
            </div>
        </div>
    </div>
    <div class="wrapper skills">
        <div class="skills-wrapper">
            <h1 class="skills-title">
                Skills
            </h1>
            <div class="skills-content-wrapper">
                <div class="skills-content">
                    <strong class="skills-content--title">
                        Front-End Web Design &amp; Development
                    </strong>
                    <p class="skills-content--content">
                        I love to create websites and web apps from scratch which deliver a beautiful and amazing experience to the users in all devices.
                    </p>
                    <p class="skills-content-techs">
                        HTML, CSS, JS, Adobe XD
                    </p>
                </div>
                <div class="skills-content">
                    <strong class="skills-content--title">
                        Back-End Development
                    </strong>
                    <p class="skills-content--content">
                        I like it when servers are capable of carrying out user-dependent tasks efficiently without comprising with the speed of the service.
                    </p>
                    <p class="skills-content-techs">
                        Node Js, PHP, Wordpress
                    </p>
                </div>
                <div class="skills-content">
                    <strong class="skills-content--title">
                        Programming &amp; Automation
                    </strong>
                    <p class="skills-content--content">
                        Instead of carrying out a specific task multiple times, I like to create scripts that do everything  for my clients on the click of a button.
                    </p>
                    <p class="skills-content-techs">
                        C++, Google Apps Script
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="./../script/script.js"></script>
</body>
</html>