<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}} | Sudo Shreyansh</title>
    <link rel="stylesheet" type="text/css" href="./../style/style.css">
    <link rel="stylesheet" type="text/css" href="./../style/header.css">
    <link rel="stylesheet" type="text/css" href="./../style/global.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    {% include header.html %}
    <div class="content">
        {{page.content}}
    </div>
    <script src="./../script/script.js"></script>
</body>
</html>